spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/OTTify?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: jyjyjy1106@

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
      dialect: org.hibernate.dialect.MySQL8InnoDBDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 391639398586-tvq80esabej3c856utbflnhtsl27fcjp.apps.googleusercontent.com
            client-secret: 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
            scope: # 기본 값 openid,profile,email => profile, email 로 설정 변경
              - profile
              - email

          naver:
            client-id: m6iLqqWiRKtUHaIlBMIe
            client-secret: pHPAX2Whrh
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:8080/login/oauth2/code/naver"
            scope:
              - name
              - email
              - profile_image
            client-name: Naver

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-info-authentication-method: header
            user-name-attribute: response # Naver 응답 값 resultCode, message, response 중 response 지정

jwt:
  secretKey: 058878842d0e96fe85db8b771eca0a277ec240034dbf90beb6e2db4e04250db2f676e203e3539b94a7a18929adc1a03d4d451eed37fdf503fac2adae89cdc42a
  access:
    expiration: 3600000 # 1시간(60분) (1000L(ms -> s) * 60L(s -> m) * 60L(m -> h))
    header: Authorization

  refresh:
    expiration: 1209600000 #  (1000L(ms -> s) * 60L(s -> m) * 60L(m -> h) * 24L(h -> 하루) * 14(2주))
    header: Authorization-refresh

redis:
  port: 6379
  host: localhost #ec2 ip
  password: haruka198

api:
  key: eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzODc0NmZmMjkyMTU0YzgxNjJmMGQ5YzM2MGUyZjY0MiIsInN1YiI6IjY1NTRjOWRlOTY1M2Y2MTNmNzRlMzEzMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.989JKUCdDeX-1d7q_0lXYNUYDCwH_CyRSqvyoj8pDCE